@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import '@splidejs/react-splide/css';

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  user-select: none;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: rgb(196, 195, 195);
  border-radius: 20px;
}

hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin: 8px 0;
}

.card-course {
  transition: 0.3s ease;
}

.card-course-button {
  opacity: 0;
  transform: translateY(10px);
  transition: 0.3s ease;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
}

.card-course:hover .card-course-button {
  opacity: 1;
  transform: translateY(0);
}
