@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: rgb(196, 195, 195);
  border-radius: 20px;
}

hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin: 8px 0;
}
